@page
@model RP1AnalyticsWebApp.Areas.Admin.Pages.RacesModel
@{
    ViewData["Title"] = "Race management";
}

<div id="app" class="ml-4 box"></div>

@section Styles {
    <link rel="stylesheet" vite-href="~/races-main.ts" asp-append-version="true" />
}
@section Scripts {
    <script type="module" vite-src="~/races-main.ts"></script>
}
