@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}

<h5 id="external-login-title">Associate your @Model.ProviderDisplayName account.</h5>
<hr />

<p id="external-login-description" class="text-info">
    You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.
</p>

<div class="row">
    <div class="col-md-4">
    </div>
</div>
