@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="box">
    <section>
        <h2 class="subtitle">Choose your authentication provider for registering.</h2>
        <hr/>
        @{
            if ((Model.ExternalLogins?.Count ?? 0) == 0)
            {
                <div>
                    <p>
                        There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                        for details on setting up this ASP.NET application to support logging in via external services.
                    </p>
                </div>
            }
            else
            {
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                <button type="submit" class="button is-dark" name="provider" value="@provider.Name" title="Register by using your @provider.DisplayName account">
                                    <span class="icon">
                                        <i class="fab fa-github"></i>
                                    </span>
                                    <span>@provider.DisplayName</span>
                                </button>
                            }
                        </p>
                    </div>
                </form>
            }
        }
    </section>

</div>