<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <script src="https://cdn.jsdelivr.net/npm/moment"></script>
    <script src="https://cdn.plot.ly/plotly-2.2.1.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/npm/showdown@1.9.1/dist/showdown.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />

    <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>

<nav class="navbar is-link" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://github.com/KSP-RO">
            <img alt="rp-1 logo" src="https://github.com/KSP-RO/RP-0/raw/master/Source/RP-1%20Logo.png?v=4&s=50" width="28" height="28">
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbar" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item is-uppercase has-text-weight-medium" asp-page="/Index">Logs</a>
            <hr class="navbar-divider">
            <a class="navbar-item is-uppercase has-text-weight-medium" asp-page="/Records">Records</a>
            <hr class="navbar-divider">
            @if (User.IsInRole(Constants.Roles.Admin))
            {
                <a class="navbar-item is-uppercase has-text-weight-medium" asp-area="Admin" asp-page="/Users">Users</a>
                <hr class="navbar-divider">
            }
            <a class="navbar-item is-uppercase has-text-weight-medium" :class="{ 'active-filter': hasActiveFilters }" title="Show career filters" v-on:click="toggleFilters">
                <i class="fa fa-filter" aria-hidden="true"></i>
            </a>
        </div>

        <career-filters-modal v-model:is-visible="modalVisible" v-model:filters="filters" v-on:apply-filters="applyFilters"></career-filters-modal>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <partial name="_LoginPartial"/>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    @RenderBody()
    <script src="~/js/navbar.js" asp-append-version="true"></script>
    <script src="~/js/components/career-filters-modal.js" asp-append-version="true"></script>
    <script src="~/js/components/career-filters.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</div>
</body>
</html>
