@page
@model rp1_analytics_server.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "RP-1 Analytics";
}

<div id="appWrapper"></div>

@section Styles {
    <link rel="stylesheet" vite-href="~/careerlog-main.ts" asp-append-version="true" />
}
@section Scripts {
    <script type="module" vite-src="~/careerlog-main.ts"></script>
}
