@page
@model rp1_analytics_server.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "RP-1 Analytics";
}

<div>
    <label for="Career">Select a career</label>
    <select asp-for="Career" asp-items="Model.Careers" onchange="careerSelectionChanged(this.value);" class="browser-default">
        <option value=""></option>
    </select>
</div>

<ul class="tabs">
    <li class="tab col s3"><a href="#milestones" class="active">Contracts</a></li>
    <li class="tab col s3"><a href="#repeatables">Repeatables</a></li>
    <li class="tab col s3"><a href="#tech">Tech</a></li>
</ul>

<div id="appWrapper">
    <div id="milestones" class="contracts-app">
        <milestone-contracts :contracts="milestones"></milestone-contracts>
    </div>

    <div id="repeatables" class="contracts-app">
        <repeatable-contracts :contracts="repeatables"></repeatable-contracts>
    </div>

    <div id="tech" class="contracts-app">
        <tech-unlocks :events="techEvents"></tech-unlocks>
    </div>
</div>

<div id="chart"></div>

@section Scripts {
    <script src="~/js/components/milestone-contracts.js" asp-append-version="true"></script>
    <script src="~/js/components/repeatable-contracts.js" asp-append-version="true"></script>
    <script src="~/js/components/tech-unlocks.js" asp-append-version="true"></script>
    <script src="~/js/careerLog.js" asp-append-version="true"></script>
}
