@page
@model rp1_analytics_server.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "RP-1 Analytics";
}


<div class="box columns is-centered">
    <div class="field">
        <div class="control has-icons-left">
            <div class="select is-rounded">
                <select asp-for="Career" asp-items="Model.CareersGroupedByUser" onchange="careerSelectionChanged(this.value);" class="browser-default">
                    <option value="Select a career" disabled selected>Select a career</option>
                </select>
            </div>
            <div class="icon is-small is-left">
                <i class="fas fa-database"></i>
            </div>
        </div>
    </div>
</div>
<div id="appWrapper">

    <div class="pb-5">
        <meta-information :title="careerTitle" :meta="careerLogMeta" :is-loading="isLoadingCareerMeta"></meta-information>
    </div>

    <div id="selection-tab" class="selection-tab">
        <selection-tab :active="activeTab" v-on:change-active="handleChangeActive"></selection-tab>
    </div>
    <div id="milestones" class="contracts-app">
        <milestone-contracts :active-tab="activeTab" :career-id="careerId"></milestone-contracts>
    </div>

    <div id="repeatables" class="contracts-app">
        <repeatable-contracts :active-tab="activeTab" :career-id="careerId"></repeatable-contracts>
    </div>

    <div id="tech" class="contracts-app">
        <tech-unlocks :active-tab="activeTab" :career-id="careerId"></tech-unlocks>
    </div>

    <div id="launches" class="contracts-app">
        <launches :active-tab="activeTab" :career-id="careerId"></launches>
    </div>

    <div id="facilities" class="contracts-app">
        <facilities :active-tab="activeTab" :career-id="careerId"></facilities>
    </div>
</div>


<div id="chart"></div>

@section Scripts {
    <script src="~/js/components/data-tab-mixin.js" asp-append-version="true"></script>
    <script src="~/js/components/meta-information.js" asp-append-version="true"></script>
    <script src="~/js/components/selection-tab.js" asp-append-version="true"></script>
    <script src="~/js/components/milestone-contracts.js" asp-append-version="true"></script>
    <script src="~/js/components/repeatable-contracts.js" asp-append-version="true"></script>
    <script src="~/js/components/tech-unlocks.js" asp-append-version="true"></script>
    <script src="~/js/components/launches.js" asp-append-version="true"></script>
    <script src="~/js/components/facilities.js" asp-append-version="true"></script>
    <script src="~/js/components/loading-spinner.js" asp-append-version="true"></script>
    <script src="~/js/careerLog.js" asp-append-version="true"></script>

}