@page
@model RP1AnalyticsWebApp.RecordsModel
@{
    ViewData["Title"] = "Records";
}

<h5>Records</h5>

<table class="striped">
    <tbody>
        @foreach (var r in Model.Records)
        {
            <tr>
                <td><a href="#modal1" class="modal-trigger" onclick="getContracts('@r.ContractInternalName');">@r.ContractDisplayName</a></td>
                <td>@($"{r.Date:yyyy-MM-dd}")</td>
                <td><a href="/?careerId=@r.CareerId">@r.CareerName</a></td>
            </tr>
        }
    </tbody>
</table>

<div id="modal1" class="modal">
    <div class="modal-content">
        <div id="careerDates" class="contracts-app" v-cloak>
            <career-dates :items="items"></career-dates>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat"><i class="left material-icons">close</i>Close</a>
    </div>
</div>

@section Scripts {
    <script src="~/js/components/career-dates.js" asp-append-version="true"></script>
    <script src="~/js/records.js" asp-append-version="true"></script>
}
