@page
@model RP1AnalyticsWebApp.RecordsModel
@{
    ViewData["Title"] = "Records";
}

<div id="app" class="container mt-4 mb-4">
    <h2 class="subtitle">Records</h2>
    <records-table :filters="filters" v-on:contract-clicked="showContractLeaderboard"></records-table>
    <contract-leaderboard-modal ref="modal" :contract-name="contractName" :filters="filters"></contract-leaderboard-modal>
</div>

@section Scripts {
    <script src="~/js/components/career-dates.js" asp-append-version="true"></script>
    <script src="~/js/components/contract-leaderboard-modal.js" asp-append-version="true"></script>
    <script src="~/js/components/records-table.js" asp-append-version="true"></script>
    <script src="~/js/records.js" asp-append-version="true"></script>
}