@page
@model RP1AnalyticsWebApp.RecordsModel
@{
    ViewData["Title"] = "Records";
}

<div id="app" class="container mt-4 mb-4"></div>

@section Styles {
    <link rel="stylesheet" vite-href="~/records-main.ts" asp-append-version="true" />
}
@section Scripts {
    <script type="module" vite-src="~/records-main.ts"></script>
}
