@page "{token}"
@using RP1AnalyticsWebApp.Models
@model EditCareerModel


@{
    ViewData["Title"] = "Edit Career Info";
}

<div class="box">
    <div class="mb-4 has-text-centered">
        <h3 class="title">@Model.Input.CareerName</h3>
        <h3 class="subtitle">Edit Meta Information</h3>
    </div>
    <div class="pt-5">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="columns">
                <div class="column">
                    <div class="field">
                        <div class="control is-expanded">
                            <label class="label" asp-for="Input.DifficultyLevel"></label>
                            <div class="select is-fullwidth">
                                <select asp-for="Input.DifficultyLevel" asp-items="Html.GetEnumSelectList<DifficultyLevel>()">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="field">
                        <div class="control is-expanded">
                            <label class="label" asp-for="Input.CareerPlaystyle"></label>
                            <div class="select is-fullwidth">
                                <select asp-for="Input.CareerPlaystyle" asp-items="Html.GetEnumSelectList<CareerPlaystyle>()">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    <div class="field">
                        <div class="control is-expanded">
                            <label class="label" asp-for="Input.FailureModel"></label>
                            <div class="select is-fullwidth">
                                <select asp-for="Input.FailureModel" asp-items="Html.GetEnumSelectList<FailureModel>()">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="field">
                        <label class="label" asp-for="Input.ConfigurableStart"></label>
                        <div class="select is-fullwidth">
                            <select asp-for="Input.ConfigurableStart" asp-items="Html.GetEnumSelectList<ConfigurableStart>()">
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    <div class="field">
                        <div class="control is-expanded">
                            <label class="label" asp-for="Input.ModRecency"></label>
                            <div class="select is-fullwidth">
                                <select asp-for="Input.ModRecency" asp-items="Html.GetEnumSelectList<ModRecency>()">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label" asp-for="Input.ModVersion"></label>
                        <input class="input" type="number" step=".01" asp-for="Input.ModVersion"/>
                    </div>
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label" asp-for="Input.CreationDate"></label>
                        <input class="input" type="date" value="@Model.Input.CreationDate.ToString("yyyy-MM-dd")" asp-for="Input.CreationDate"/>
                    </div>
                </div>
                <div class="column"></div>
            </div>


            <div class="field">
                <label class="label" asp-for="Input.DescriptionText"></label>
                <textarea class="textarea" asp-for="Input.DescriptionText" cols="150" rows="10"></textarea>
            </div>

            <div class="control">
                <button id="update-profile-button" type="submit" class="button is-info">Save</button>
            </div>
        </form>
    </div>
</div>